/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*общие параметры*/
body {
  font-family: Tahoma, Geneva, sans-serif;
  background-color: #f7fdfe;
}
h1 {
  font-size: 2.5em;
  width: 14em;
  padding: 1.5em 0 0 2em;
  text-align: center;
  color: #000;
}
h4 {
  font-size: 1.5em;
  padding: 1em 0 .5em 0.6em;
}
.news1 > div > div > img {
  float: left;
  width: 150px;
  height: 150px;
  margin-right: 2em;
  margin-top: 1.7em;
}
.news1 > div > div > p > p {
  padding-bottom: 1em;
}
.news1 > div {
  padding-bottom: 1em;
  cursor: pointer;
}
.news1 > div > div > img.addedImage {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 728px) {
  h1 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.2em;
    padding: 1em 0 .5em 0.6em;
  }
  .news1 > div > div > img {
    width: 120px;
    height: 120px;
    margin-right: 2em;
    margin-bottom: 2em;
  }
  .news1 > div > div > img.addedImage {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 480px) {
  h4 {
    padding: 2em 0 .5em 0.6em;
  }
  h1 {
    width: 10.5em;
  }
}
h2 {
  font-size: 2em;
  padding: .5em;
  text-align: left;
  color: #000;
}
h2:hover {
  cursor: pointer;
}
h3 {
  font-size: 1.5em;
  padding: 0 0 .5em 0;
  text-align: left;
  color: #000;
}
li {
  float: left;
  padding: .5em;
  list-style-type: none;
  text-align: center;
}
a {
  font-size: 1.4em;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
}
li a:hover {
  color: #0677ab;
}
li:hover {
  background-color: #fff;
}
p {
  text-indent: 1em;
  line-height: 1.3em;
}
div {
  overflow: hidden;
}
.wrapper {
  overflow: hidden;
  width: 100%;
  min-width: 340px;
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 1em;
}
/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/
*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
[class*='col-'] {
  float: left;
  padding-right: 20px
  /* column-space */
}
/*это стиль только для футера*/
[class*='coool-'] {
  float: none;
  padding-right: 20px
  /* column-space */
}
/*это стиль только для футера новосеей*/
[class*='cool-'] {
  float: none;
  padding-right: 20px
  /* column-space */
}
.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.grid-pad {
  padding-top: 20px;
  padding-left: 20px;
  /* grid-space to left */
  padding-right: 0px
  /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}
.push-right {
  float: right;
}
/* Content Columns */
.col-1-1 {
  width: 100%;
}
/*это стиль только для футера*/
.coool-1-1 {
  width: 100%;
}
/*это стиль только для футера говостей*/
.cool-1-1 {
  width: 100%;
}
.col-2-3,
.col-8-12 {
  width: 66.66%;
}
.col-1-2,
.col-6-12 {
  width: 50%;
}
.col-1-3,
.col-4-12 {
  width: 33.33%;
}
.col-1-4,
.col-3-12 {
  width: 25%;
}
.col-1-5 {
  width: 20%;
}
.col-1-6,
.col-2-12 {
  width: 16.667%;
}
.col-1-7 {
  width: 14.28%;
}
.col-1-8 {
  width: 12.5%;
}
.col-1-9 {
  width: 11.1%;
}
.col-1-10 {
  width: 10%;
}
.col-1-11 {
  width: 9.09%;
}
.col-1-12 {
  width: 8.33%;
}
/* Layout Columns */
.col-11-12 {
  width: 91.66%;
}
.col-10-12 {
  width: 83.333%;
}
.col-9-12 {
  width: 75%;
}
.col-5-12 {
  width: 41.66%;
}
.col-7-12 {
  width: 58.33%;
}
/* Pushing blocks */
.push-2-3,
.push-8-12 {
  margin-left: 66.66%;
}
.push-1-2,
.push-6-12 {
  margin-left: 50%;
}
.push-1-3,
.push-4-12 {
  margin-left: 33.33%;
}
.push-1-4,
.push-3-12 {
  margin-left: 25%;
}
.push-1-5 {
  margin-left: 20%;
}
.push-1-6,
.push-2-12 {
  margin-left: 16.667%;
}
.push-1-7 {
  margin-left: 14.28%;
}
.push-1-8 {
  margin-left: 12.5%;
}
.push-1-9 {
  margin-left: 11.1%;
}
.push-1-10 {
  margin-left: 10%;
}
.push-1-11 {
  margin-left: 9.09%;
}
.push-1-12 {
  margin-left: 8.33%;
}
@media screen and (max-width: 728px) {
  .col-1-3,
  .col-4-12 {
    width: 50%;
  }
}
@media handheld, only screen and (max-width: 728px) {
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    /* grid-space to left */
    padding-right: 10px
    /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
  }
  [class*='col-'] {
    width: auto;
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px
    /* column-space */
  }
  /*это стиль только для футера*/
  [class*='coool-'] {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px
    /* column-space */
  }
  /*дял футера новостей*/
  [class*='cool-'] {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px
    /* column-space */
  }
  /* Mobile Layout */
  [class*='mobile-col-'] {
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    /* column-space */
    padding-bottom: 0px;
  }
  /*переназначаем стили для построения картинок и видео в 2 столбца*/
  .col-1-3,
  .col-4-12 {
    width: 50%;
  }
  footer .col-1-3,
  .col-4-12 {
    width: 33.33%;
  }
  /*это стиль только для футера говостей*/
  .cool-1-1 {
    width: 100%;
  }
  .mobile-col-1-1 {
    width: 100%;
  }
  .mobile-col-2-3,
  .mobile-col-8-12 {
    width: 66.66%;
  }
  .mobile-col-1-2,
  .mobile-col-6-12 {
    width: 50%;
  }
  .mobile-col-1-3,
  .mobile-col-4-12 {
    width: 33.33%;
  }
  .mobile-col-1-4,
  .mobile-col-3-12 {
    width: 25%;
  }
  .mobile-col-1-5 {
    width: 20%;
  }
  .mobile-col-1-6,
  .mobile-col-2-12 {
    width: 16.667%;
  }
  .mobile-col-1-7 {
    width: 14.28%;
  }
  .mobile-col-1-8 {
    width: 12.5%;
  }
  .mobile-col-1-9 {
    width: 11.1%;
  }
  .mobile-col-1-10 {
    width: 10%;
  }
  .mobile-col-1-11 {
    width: 9.09%;
  }
  .mobile-col-1-12 {
    width: 8.33%;
  }
  /* Layout Columns */
  .mobile-col-11-12 {
    width: 91.66%;
  }
  .mobile-col-10-12 {
    width: 83.333%;
  }
  .mobile-col-9-12 {
    width: 75%;
  }
  .mobile-col-5-12 {
    width: 41.66%;
  }
  .mobile-col-7-12 {
    width: 58.33%;
  }
  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0;
  }
}
@media handheld, only screen and (max-width: 480px) {
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    /* grid-space to left */
    padding-right: 10px
    /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
  }
  [class*='col-'] {
    width: auto;
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px
    /* column-space */
  }
  /* Mobile Layout */
  [class*='mobile-col-'] {
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    /* column-space */
    padding-bottom: 0px;
  }
  .mobile-col-1-1 {
    width: 100%;
  }
  .mobile-col-2-3,
  .mobile-col-8-12 {
    width: 66.66%;
  }
  .mobile-col-1-2,
  .mobile-col-6-12 {
    width: 50%;
  }
  footer .col-1-3,
  .col-4-12 {
    width: 33.33%;
  }
  .mobile-col-1-3,
  .mobile-col-4-12 {
    width: 33.33%;
  }
  .mobile-col-1-4,
  .mobile-col-3-12 {
    width: 25%;
  }
  .mobile-col-1-5 {
    width: 20%;
  }
  .mobile-col-1-6,
  .mobile-col-2-12 {
    width: 16.667%;
  }
  .mobile-col-1-7 {
    width: 14.28%;
  }
  .mobile-col-1-8 {
    width: 12.5%;
  }
  .mobile-col-1-9 {
    width: 11.1%;
  }
  .mobile-col-1-10 {
    width: 10%;
  }
  .mobile-col-1-11 {
    width: 9.09%;
  }
  .mobile-col-1-12 {
    width: 8.33%;
  }
  /* Layout Columns */
  .mobile-col-11-12 {
    width: 91.66%;
  }
  .mobile-col-10-12 {
    width: 83.333%;
  }
  .mobile-col-9-12 {
    width: 75%;
  }
  .mobile-col-5-12 {
    width: 41.66%;
  }
  .mobile-col-7-12 {
    width: 58.33%;
  }
  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0;
  }
}
/*параметры футера*/
footer {
  overflow: hidden;
  padding: 0 0 1em 0;
}
.hrfs > ul > li {
  float: none;
  padding: .5em;
  list-style-type: none;
  text-align: center;
}
.hrfs a {
  font-size: 1em;
}
.hrfs li a:hover {
  color: #0677AB;
}
.hrfs li:hover {
  background-color: #429FCB;
}
footer p {
  float: left;
  margin-top: 1em;
  margin-left: 1em;
}
@media screen and (max-width: 728px) {
  .hrfs a {
    font-size: 1em;
  }
  footer {
    margin: 0 auto;
    padding: 0 0 1em 1%;
  }
  .col-1-6 {
    display: block;
    float: none;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  footer {
    margin: 0 auto;
    padding: 0 0 1em 1%;
  }
}
/*параметры видео*/
.videos {
  float: left;
  overflow: hidden;
  width: 100%;
  height: 15em;
  margin: 0 1em 0.2em 0;
  background-size: 100%;
}
iframe {
  float: left;
  overflow: hidden;
  width: 100%;
  height: 14em;
  margin: 0 1em 1em 0;
  background-size: 100%;
}
@media screen and (max-width: 728px) {
  .videos {
    margin: 0 1em -1em 0;
  }
}
/*параметры галереи*/
.pictures {
  margin: 0 1em 1em 0;
  width: 100%;
  float: left;
  overflow: hidden;
}
.pictures a {
  height: 15em;
}
.pictures > img {
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 728px) {
  .pictures {
    margin: 0 1em 0 0;
  }
}
/*параметры новостей*/
.news1 {
  padding: 0 1em 1em 0;
}
/*главная новость*/
.img1 {
  float: left;
  overflow: hidden;
  width: 100%;
  height: 13em;
  margin: 0 1em 1em 0;
  background-image: url(../media/news3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
/*остальные новости*/
.news2 {
  margin-bottom: 1em;
}
.img2 {
  float: left;
  overflow: hidden;
  width: 9em;
  height: 9em;
  margin: 0 1em 1em 0;
  background-image: url(../media/news1.jpg);
  background-repeat: no-repeat;
  background-position: -5px 0;
}
.img3 {
  float: left;
  overflow: hidden;
  width: 9em;
  height: 9em;
  margin: 0 1em 1em 0;
  background-image: url(../media/news4.jpg);
  background-repeat: no-repeat;
  background-position: -5px 0;
}
/*стили поиска*/
.search {
  position: absolute;
  height: 2em;
  width: 15em;
  top: 8em;
  left: 67%;
  display: block;
}
/*скрыть / показать поиск по клику*/
.show-hide-search {
  display: none;
}
.btn-search {
  position: absolute;
  right: 1em;
  cursor: pointer;
  width: 2em;
  height: 2em;
  background: url(../media/search.png) center 100% no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}
.input {
  display: none;
  position: absolute;
  margin: 2%;
}
.show-hide-search:checked ~ .input {
  display: block;
}
@media screen and (max-width: 728px) {
  .search {
    top: 9em;
    left: 13em;
  }
}
@media screen and (max-width: 480px) {
  .search {
    top: 11em;
    left: 8.5em;
  }
}
/*параметры меню*/
.wrapper > .col-1-1 {
  margin: 0;
}
.menu {
  margin-top: 5em;
  height: 2.5em;
  background-color: #0677ab;
}
.navigation {
  position: absolute;
  left: 0;
  top: 210px;
  width: 100%;
  background-color: #0677ab;
}
.navigation ul li {
  display: inline-block;
  padding: 10px 20px 10px 10px;
  vertical-align: top;
  box-sizing: content-box;
}
.navigation a {
  text-decoration: none;
  color: black;
  font-size: 1em;
}
.hidden-menu-ticker {
  display: none;
}
/*выплывающее  меню*/
@media screen and (max-width: 480px) {
  .navigation {
    position: relative;
    top: 0.4em;
    font-size: 0.9em;
    background-color: transparent;
  }
  .navigation .wrapper {
    max-width: none;
    overflow: hidden;
    min-width: 11.5em;
    margin: 0 auto;
    padding-left: 0;
  }
  .menu a {
    text-align: left;
  }
  .menu {
    height: 0;
    background-color: #0677ab;
  }
  .hidden-menu {
    position: fixed;
    z-index: 2;
    top: 1em;
    left: 500px;
    display: block;
    box-sizing: border-box;
    width: 190px;
    height: 100%;
    margin: 0;
    padding: 10px;
    list-style: none;
    -webkit-transition: left .2s;
            transition: left .2s;
    -webkit-transform: translateZ(0);
    background-color: #0677ab;
    -webkit-backface-visibility: hidden;
  }
  .btn-menu {
    position: fixed;
    z-index: 3;
    top: 5px;
    left: 5px;
    width: 35px;
    padding: 5px;
    cursor: pointer;
    -webkit-transition: left .23s;
            transition: left .23s;
    -webkit-transform: translateZ(0);
    color: #fff;
    background-color: #429fcb;
    -webkit-backface-visibility: hidden;
  }
  .btn-menu span {
    position: relative;
    display: block;
    height: 5px;
    margin: 5px 0 0;
    -webkit-transition: all .1s linear .23s;
            transition: all .1s linear .23s;
    background-color: #fff;
  }
  .btn-menu span.first {
    margin-top: 0;
  }
  .hidden-menu-ticker:checked ~ .btn-menu {
    left: 120px;
  }
  .hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.first {
    top: 10px;
    -webkit-transform: rotate(45deg);
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.third {
    top: -10px;
    -webkit-transform: rotate(-45deg);
  }
}
/*параметры хэдера*/
header {
  height: 6em;
}
a img {
  width: 6em;
  height: 6em;
  margin-top: 1em;
  float: left;
}
@media screen and (max-width: 728px) {
  .logo {
    margin: 1em 0em 1em .5em;
  }
}
/*параметры секций*/
section {
  overflow: hidden;
  margin-top: 2em;
  padding-left: 1em;
}
/*стили галереи фотографий*/
/*убираем белый фон при hover*/
.carousel-labels > li:hover,
.carousel-items > li:hover {
  background-color: transparent;
}
.carousel-items,
.carousel-labels {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
.carousel-item {
  display: block;
  float: left;
}
.carousel-wrapper {
  /*для наших экранов*/
  margin: 0 auto;
  max-width: 728px;
  /*Сделал меньше 1144, что бы отсутствовала большая высота страницы*/
  min-width: 350px;
  position: relative;
  padding-bottom: 40em;
  overflow: hidden;
}
.carousel-items {
  width: 1000%;
  /*ширина для 10 слайдов*/
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: left 0.5s ease-out;
  -o-transition: left 0.5s ease-out;
  -ms-transition: left 0.5s ease-out;
  -moz-transition: left 0.5s ease-out;
  -webkit-transition: left 0.5s ease-out;
}
.carousel-item {
  width: 10%;
  /*для одного слайда*/
  height: 100%;
  color: white;
}
img {
  /*позиционирование картинки внутри блока*/
  display: block;
  margin: 1em auto;
  width: 100%;
}
.carousel-labels {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  height: 2em;
  width: 100%;
  padding: 0 0 2em 25%;
  text-align: center;
}
.carousel-selector {
  display: none;
}
.carousel-label {
  display: inline-block;
}
.carousel-label label {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #0677ab;
  display: block;
  cursor: pointer;
}
/*смена слайдов*/
#slide1:checked ~ .carousel-items {
  left: 0;
}
#slide1:checked ~ .carousel-labels .carousel-label:nth-child(1) label {
  background-color: black;
}
#slide2:checked ~ .carousel-items {
  left: -100%;
}
#slide2:checked ~ .carousel-labels .carousel-label:nth-child(2) label {
  background-color: black;
}
#slide3:checked ~ .carousel-items {
  left: -200%;
}
#slide3:checked ~ .carousel-labels .carousel-label:nth-child(3) label {
  background-color: black;
}
#slide4:checked ~ .carousel-items {
  left: -300%;
}
#slide4:checked ~ .carousel-labels .carousel-label:nth-child(4) label {
  background-color: black;
}
#slide5:checked ~ .carousel-items {
  left: -400%;
}
#slide5:checked ~ .carousel-labels .carousel-label:nth-child(5) label {
  background-color: black;
}
#slide6:checked ~ .carousel-items {
  left: -500%;
}
#slide6:checked ~ .carousel-labels .carousel-label:nth-child(6) label {
  background-color: black;
}
#slide7:checked ~ .carousel-items {
  left: -600%;
}
#slide7:checked ~ .carousel-labels .carousel-label:nth-child(7) label {
  background-color: black;
}
#slide8:checked ~ .carousel-items {
  left: -700%;
}
#slide8:checked ~ .carousel-labels .carousel-label:nth-child(8) label {
  background-color: black;
}
#slide9:checked ~ .carousel-items {
  left: -800%;
}
#slide9:checked ~ .carousel-labels .carousel-label:nth-child(9) label {
  background-color: black;
}
#slide10:checked ~ .carousel-items {
  left: -900%;
}
#slide10:checked ~ .carousel-labels .carousel-label:nth-child(10) label {
  background-color: black;
}
@media screen and (max-width: 728px) {
  .carousel-wrapper {
    /*для наших экранов*/
    margin: 0 auto;
    width: 460px;
    padding-bottom: 30em;
  }
  .carousel-label label {
    /*уменьшение кругов*/
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }
  .carousel-labels {
    padding: 1em 0 3em 22%;
  }
  [class*='cool-'] {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  img {
    /*позиционирование картинки внутри блока*/
    margin: 2em auto;
  }
  .carousel-items {
    top: 1em;
  }
}
/*стили страницы с видео*/
/*embedded*/
.one-video {
  margin-top: 1em;
  margin-bottom: 2em;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.one-video > * {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
/*стили формы*/
form {
  width: 36em;
  margin: 0 auto;
}
form > p {
  width: 27%;
  float: right;
}
form img {
  width: 20%;
  float: left;
}
div.comment > img {
  float: right;
  margin: 1em;
  width: 7em;
}
textarea {
  width: 30em;
  height: 6em;
  margin-top: 1.3em;
  resize: none;
}
/*чат*/
.comments {
  width: 35em;
  padding-left: 2em;
}
.comment {
  width: 30em;
  margin: 0.5em;
  padding-left: 1em;
  padding-bottom: 1em;
  background-color: #0677ab;
}
.comments img {
  float: right;
  margin-top: 1em;
}
.vertical {
  min-height: 7em;
  padding-top: 1em;
  overflow: hidden;
}
.vertical > p {
  float: left;
}
.chat {
  width: 45em;
  position: relative;
  padding-top: 3em;
  margin: 0 auto;
  right: 8em;
}
@media screen and (max-width: 1144px) {
  .chat {
    right: -4em;
  }
}
@media screen and (max-width: 728px) {
  textarea {
    width: 23em;
  }
  form > p {
    width: 30%;
    float: right;
  }
  .comment {
    width: 25em;
  }
  .chat {
    width: 30em;
    right: 1em;
  }
  form {
    width: 26em;
  }
}
@media screen and (max-width: 480px) {
  textarea {
    width: 20em;
  }
  form > p {
    width: 39%;
    float: right;
  }
  .comment {
    width: 20em;
  }
  .chat {
    width: 30em;
    right: 1em;
  }
  form {
    width: 26em;
  }
  .one-video {
    margin-top: 4em;
  }
  .comments {
    padding-left: 0.5em;
  }
}
/*# sourceMappingURL=styles.css.map */